<h3>Création Profil</h3>
<form-field [formGroup]="myForm" >
        <div>
            <p>Nom : <input type="text" formControlName="Nom"></p>
            <p *ngIf="myForm.controls['Nom'].invalid">
                {{myForm.controls['Nom'].errors ? myForm.controls['Nom'].errors['TropCourtError'] : ''}}
            </p>
        </div>
        <div>
            <p>Date de naissance : <input type="date" formControlName="DateB"></p>
            <p *ngIf="myForm.controls['DateB'].invalid">
                {{myForm.controls['DateB'].errors ? myForm.controls['DateB'].errors['AgeError'] : ''}}
            </p>
        </div>
        <div>
            <button mat-raised-button type="button" (click)="addControlToArray()">
                <span class="material-icons">add</span>
                Ajouter une série
            </button>
        </div>
        <div *ngIf="getSeriesArray().controls != null" formArrayName="ListS">
            <div *ngFor="let control of getSeriesArray().controls; let i = index">
                <p>
                    Série {{i+1}} : <input type="text" [formControlName]="i">
                </p>
            </div>
        </div>
        <div>
            <button mat-raised-button (click)="ajouter()" [disabled]="!myForm.valid">
                <span class="material-icons">how_to_reg</span>
                Valider
            </button>
        </div>
</form-field>
